<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>Ajouter un lieu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand active" th:href="'/'+${home_url}">TAA</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consulter les données
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="'/'+${location_url}">Lieux</a></li>
                            <li><a th:href="'/'+${appointment_url}">Rendez-vous</a></li>
                            <li><a th:href="'/'+${client_url}">Clients</a></li>
                            <li><a th:href="'/'+${entreprise_url}">Entreprises</a></li>
                            <li><a th:href="'/'+${prestataire_url}">Prestataires</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ajouter des données
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="'/'+${add_location_url}">Ajouter un lieux</a></li>
                            <li><a th:href="'/'+${add_appointment_url}">Ajouter un rendez-vous</a></li>
                            <li><a th:href="'/'+${add_client_url}">Ajouter un client</a></li>
                            <li><a th:href="'/'+${add_entreprise_url}">Ajouter une entreprise</a></li>
                            <li><a th:href="'/'+${add_prestataire_url}">Ajouter un prestataire</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container contact-form">
            <form method="post" th:action="@{'/'+${add_location_url}}" th:object="${location}">
                <h3>Créer un lieu</h3>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" th:field="*{street}" class="form-control" placeholder="Nom de la rue" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="number" th:field="*{streetNumber}" class="form-control" placeholder="n° de rue" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="number" th:field="*{postCode}" class="form-control" placeholder="Zip Code" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{city}" class="form-control" placeholder="Ville" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn" value="Créer" required />
                        </div>
                    </div>
            </form>
        </div>

    </body>
</html>